
#container {
    background-color: whitesmoke;
    height: 100%;
}

.box {
    margin: 0px 0px 0px 0px;
    border: 1px solid lightgrey;
    background-color: white;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 1px rgb(231, 231, 231); 
    text-decoration: none;
    color: white;
    display: block;
    background-size: 100%;
}
.box:first-child {
    /*margin-top:5px;*/
}
/* hack to keep nested content boxes from getting smaller and smaller. */
.ui-content {
    padding: 0px;
}

div.ui-content {padding: 0px 0px 0px 0px;}

.start {
    font-size: 24pt;
    background-position: right;
    font-family: 'lato', sans-serif;
    font-weight: 100;
    font-size: 50pt;
    font-style: ultra-light;
    padding: 5px 5px 30%;
    color: #FFFFFF;
}
/*Front Page*/
#eat-out {
    background-image: url('../img/eat_out.jpg') ;
}
#order-in {
    background-image: url('../img/takeout_table.jpg');
}
#cook-in {
    background-image: url('../img/cook_home.jpg');
}
.gradient{
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    padding-left: 2%;
}
.ui-header .ui-title {
    font-family: 'clicker script';
    font-weight: bold;
    text-shadow: 0px 0px 10px lightgrey;
    font-size: 30px;
    margin: 0;
}
.ui-body-c .ui-link:visited, 
.ui-body-c .ui-link:hover, 
.ui-body-c .ui-link {
    color: white;
    font-weight: 100;
    padding: 29.2% 0 0 0;
}

/*Out*/
.restaurant {
    background-position: center;
    padding: 80px 0px 10px
}
.rest {
     background-size: 100%;
}
/*Meal*/
.meal {
    background-position: center;
    padding: 10px 0px 20px;
    background-size: 100%;
}
#Meal1 {
     background-image: url('../img/salad.jpg');
     background-size: 100%;
}
#Meal2 {
     background-image: url('../img/tortellini.jpg');
     background-size: 100%;
}
#Meal3 {
     background-image: url('../img/pizza.jpg');
     background-size: 100%;
}



.box p {
    font-size: 18pt;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.95);;
    padding:  0 0 0 10px; 
}
.desc {
    font-size: 18pt;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.95);;
    padding: 0;
}
.desc p {
    line-height: 50%;
}
.desc small{
    font-size: 10pt;
    
}
.yelp {
    text-align: right;
    background-image: url('../img/yelp_full_star.png');
    width:70px;
    height: 15px;
    background-color: black;
    float: right;
    margin-right: 4px;
    margin-top: -44px;
}
.yelp.star1 {width: 16px}
.yelp.star2 {width: 32px}
.yelp.star3 {width: 48px}
.yelp.star35 {width: 56px}
.yelp.star4 {width: 64px}
.yelp.star5 {width: 80px}



/* Confirm Page */
h3.conf-head {
    padding-top:25px; 
    line-height:10%;
}

/*Registration*/
h3 {text-align: center}
form#register label {
    width: 35%;
    padding: 10px 0;
    float: left;
}
form#register input[type=text],
form#register input[type=password] {
    width: 65%;
}
#cvc {
    
}
form#register .ui-select {
    display: inline-block;
}

/*out*/
#dish_price {
    float: right;
    color: #bbb;;
}
.desc {
    padding: 5px;
}
.desc div {
    display: none;
}
.desc small {
    margin-top: 0px;
    font-size: 12pt;
}
.plus, 
.minus {
    color: white;
    line-height: 0.7em;
    font-size: 3em;
    width: 40px;
    height: 46px;
    padding-left: 5px;
    background-position: -16px;
}
.plus {
    background-image: url('../img/plus.svg');   
}
.minus {
    background-image: url('../img/minus.svg');   
}
 
.add-circle {
    text-decoration: none;
    float: right;
    margin: 0 10px;
}
.quantity {
    color: white;
    border: none;
    font-size: 3em;
    background: none;
    margin-top: -7px;
    float: right;
    width: 30px;
    font-weight: bold;
    margin-left: 5px;
    text-shadow: 0 0 5px grey;
}

.top-layer {
    height: 80px;
}